.form-container {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 500px;
    padding: 16px;
    margin: 10px auto;
    background: #f7f7f7;

  }
  h1 {
    background: #4a6bc9;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
  }
  .container-error-message {
    padding: 3px;
  } 
  .alert-danger {
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 5px;
  }
  input[type="text"],
   input[type="email"] {
    -webkit-transition: all 0, 30s ease-in-out;
    transition: all 0, 30s ease-in-out;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    padding: 1%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
   }
   .btn-send {
    box-sizing: border-box;
    width: 100%;
    padding: 1%;
    background: #F0141E;
    border-bottom: 2px solid #F0141E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    font-size: 1.6rem;
  }
  .contenedor {
    display: flex;   
    background: url(https://i.annihil.us/u/prod/marvel/i/mg/8/e0/52bdf830aa094.jpg) no-repeat center center #0a1117;
    height: 50%;
    flex-direction: column;
    margin:1rem auto;
    max-width: 100%;
}  
.mat-focused {
  color: white !important;
}
.buscapersonaje{
  color: #F0141E;
  font-size: 1.80rem;  
  font-family: "RobotoCondensed Bold", sans-serif;
  background: #FFF !important;
  margin: 0 !important;
}
.cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper{
  width: 100%;
}
::ng-deep.cdk-virtual-scroll-content-wrapper{
  width: 100% !important;
}