<div class="contenedor">
    <h1>Busca tu personaje Marvel</h1>
    <form [formGroup]="filtroform" (ngSubmit)="getCharcterbyname()">
        <mat-form-field>
            <input matInput type="text" formControlName="Nombre" placeholder="Filtro por Nombre">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="text" formControlName="Iniciales" placeholder="Filtro por Inciales">
        </mat-form-field>
    
        <!-- <br>
        <label>Filtro por Series</label>
        <input type="text" formControlName="Series" placeholder="">
        <br>
        <label>Filtro por Comic</label>
        <input type="text" formControlName="Comic" placeholder=""> -->
        <button type="submit" class="btn-send">Filtrar</button>

    </form>
</div>
<br>
<div class="form-continer">
    <div fxFlex fxLayout="column">
        <cdk-virtual-scroll-viewport scrollWindow itemSize="20" style="height: 100%;">
            <div fxLayout="row wrap">
                <div fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column" *ngFor="let character of allcharacters | async"
              style="padding: 5px;">
        
              <app-character [character]="character"></app-character>
            </div>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
</div>
